@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: rgb(18, 18, 18);
    color: rgb(250, 250, 250);
    font-family: 'Inter', sans-serif;
    user-select: none;
}
header{
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}
#container{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 2rem;
    justify-content: center;

}
#intro{
    font-size: .8rem;
    font-style: italic;
    color: white;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-container > input{
    border-radius: 15px;
    padding: .5rem;
}
.form-container > button{
    border: 2px solid white;
    border-radius: 15px;
    padding: .5rem;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
}
.form-container > button:hover{
    background-color: black;
    color: white;
}